/** HEADER **/

#header-nav {
    background-color: #999999;
    border-radius: 0;
    border: 0;
}

.navbar-brand {
    /* padding-left: -15px; */
    height: 60px;
}

.navbar-brand h1 {
    /* Restaurant name */
    /* font-family: 'Lora', serif; */
    color: black;
    font-size: 1.5em;
    /* text-transform: uppercase; */
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0px;
    /* line-height: .75; */
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

#nav-list {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid black;
}

#nav-list a {
    color: black;
    /* text-align: center; */
    /* margin: -7px 0px; */
    /* border: 1px solid black; */
    border-bottom: 1px solid black;
    background-color: white;
}

#nav-list a:hover {
    background: #ddd;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
    border: 1px solid black;
}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -48px;
}


/** CONTENT **/

#home-tiles {
    margin-top: 30px;
}

#chicken-tile,
#beef-tile,
#sushi-tile {
    background-color: #999999;
    padding: 20px;
    margin-bottom: 20px;
}

#home-tiles h4 {
    color: black;
    font-weight: bold;
}

p {
    color: black;
}

#top-heading {
    font-weight: bold;
}